{% extends 'home/base.html' %}
{% load static %}

{% block title %}Register - BookYatrah{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/style.css' %}">
{% endblock %}

{% block content %}
<div class="users-login-container fade-in">
    <h2 class="title">Create an Account</h2>
    <form method="POST" novalidate>
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}

            {{ field }}

            {% if field.help_text %}
            <small class="help-text">{{ field.help_text }}</small>
            {% endif %}

            {% for error in field.errors %}
            <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}

        <button type="submit" class="btn">Sign Up</button>
    </form>
    <p class="link-text">Already have an account? <a href="{% url 'users:login' %}">Login here</a></p>
</div>
{% endblock %}
